body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

html {
    scroll-behavior: smooth;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    background-color: black;
    box-sizing: border-box;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header.scrolled {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.header a {
    color: white;
    text-decoration: none;
}

.header .name {
    font-size: 2.5rem;
    font-weight: 700;
}

.header .navbar {
    font-weight: 600;
    font-size: 1.3rem;
}

.header .navbar a:not(:last-child) {
  margin-right: 2rem;
}

.header .navbar a:hover {
    transform: scale(1.5);
    color: aqua;
    transition: 0.2s linear;
}

.header .btns {
    display: flex;
    gap: 2rem;
}

.header .btn {
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 0.7rem 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 2px solid orangered;
}

.header.scrolled .btn{
    background-color: black;
}

.header.scrolled .btn:hover {
    background-color: rgb(33, 33, 33);;
}


.header .btn:hover {
    background-color: rgb(33, 33, 33);
    color: white;
    transition: 0.25s linear;
}

#menu-icon {
    display: none;
    font-size: 1.5rem;
  }

section {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 3rem;
    border-bottom: 4px solid #fff;
    color: #fff;
}

@media(max-width: 1100px) {
    .header {
        padding: 2rem 2rem;
    }

    .header .name {
        font-size: 2rem;
    }
    
    .header .navbar {
        font-size: 1rem;
    }

    .header .btn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
    
}


@media(max-width: 870px) {
    .header .name {
        font-size: 1.5rem;
    }
    
    .header .navbar {
        font-size: 0.8rem;
    }

    .header .btn {
        font-size: 0.8rem;
        padding: 0.5rem 0.8rem;
    }
    
}


@media(max-width: 768px) {
    .header .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        border-top: 0.1rem solid yellow;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0; 
        max-height: 0;
        opacity: 0; 
        overflow: hidden;
        padding: 2rem; 
        transition: max-height 0.3s ease, opacity 0.3s ease;
    }

    .header .navbar.active {
        max-height: 300px; 
        opacity: 1; 
    }


    .header .navbar a {
        color: white;
        font-size: 1rem;
        font-weight: 700;
        transition: 0.2s linear;
    }

    .header .navbar a:hover {
        transform: scale(1);
    }

    #menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
      }

      .header .btns {
        gap: 1rem;
    }
}

@media(max-width: 430px) {
    .header .name {
        font-size: 1.3rem;
    }
    
    .header .navbar a {
        font-size: 0.8rem;
    }

    .header .btn {
        font-size: 0.5rem;
        padding: 0.5rem 0.5rem;
    }

    #menu-icon {
        font-size: 1.2rem;   
    }

}